* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 16px "Helvetica Neue", Arial, sans-serif;
  color: #121214;
  background: purple;
  
  display: flex;
  justify-content: center;
  text-align: center;
}