section.repository-list { 
  margin: 40px;
  
  h1 {
    margin-bottom: 16px; 
  }

  ul {
    list-style: none;

    li {
      border: 1px solid #000;
      border-radius: 16px;
      background: rgba(0, 0, 0, .2);
      & + li {
        margin-top: 20px;
      }
   
      p {
        font-size: 14px;
        color: #FFF;
        margin-top: 8px;
      }

      a {
        display: inline-block;
        margin-top: 16px;
        text-decoration: none;
        color: #8257e6;
      }
    }
  }
}

